<!-- Patient Track Delivery -->

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Fontawesome -->
	<script src="https://kit.fontawesome.com/49dfc2b92c.js" crossorigin="anonymous"></script>
	<!-- CSS -->
	<link rel="stylesheet" href="../../static/css/dashboard.css">
	<!-- Favicon -->
	<link rel="icon" type="image/x-icon" href="https://img.icons8.com/color/48/null/india-national-emblem.png">

	<title>रोगइतिहास - Doctor Consents</title>
</head>

<body>


	<!-- Sidebar -->
	<section id="sidebar">
		<a href="#" class="brand">
			<i class="fa-solid">
				<img src="https://img.icons8.com/color/48/null/india-national-emblem.png" />
			</i>
			<span class="text"><span class="india-orange">रोग</span><span class="india-blue">इति</span><span
					class="india-green">हास</span></span>
		</a>
		<ul class="side-menu top">
			<li>
				<a href="/doctordashboard">
					<i class="fa-solid fa-table-columns"></i>
					<span class="text">Dashboard</span>
				</a>
			</li>
			<li>
				<a href="/documents">
					<i class="fa-solid fa-folder-open"></i>
					<span class="text">Medical Records</span>
				</a>
			</li>
			<li class="active">
				<a href="/consentlist1">
					<i class="fa-solid fa-folder-open"></i>
					<span class="text">Consents</span>
				</a>
			</li>
			<li>
				<a href="/prescriptiondecision">
					<i class="fa-solid fa-folder-open"></i>
					<span class="text">Prescription Requests</span>
				</a>
			</li>
			<li>
				<a href="/drsettings">
					<i class="fa-solid fa-gear"></i>
					<span class="text">Settings</span>
				</a>
			</li>
			<li>
				<a href="/logout" class="logout">
					<i class="fa-solid fa-right-from-bracket"></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
		</ul>
	</section>

	<!-- Content -->
	<section id="content">
		<!-- Navbar -->
		<nav>
			<i class="fa-solid fa-bars"></i>
			<form action="doctorpatientdashboard" method="POST">
				<div class="form-input">
					<input type="search" placeholder="Search Patient" name="aadhar" required>
					<button type="submit" class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
				</div>
			</form>
			<input type="checkbox" id="switch-mode" hidden>
			<label for="switch-mode" class="switch-mode"></label>
			<a href="#" class="profile">
				<img src="../../static/img/rishi.jpg">
			</a>
		</nav>

		<!-- Main -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Consents</h1>
				</div>
			</div>

			<div class="table-data">
				<div class="order">
					<div class="head">
						<h3></h3>
						<input type="search" class="search-1" placeholder="Search consent letter">
						<button type="submit" class="search-btn-1"><i class="fa-solid fa-magnifying-glass"></i></button>
					</div>
					<table>
						<thead>
							<tr>
								<th class="th-gap">S.No</th>
								<th class="th-gap">Patient Name</th>
								<th class="th-gap">Consent</th>
								<th class="th-gap">Status</th>
							</tr>
						</thead>
						<tbody>
						{% for data in files %}
							<tr class="td-gap">
								{% if contain=='Yes' %}
								<td class="td-gap">
									<p>{{loop.index}}</p>
								</td>
								{% endif %}
								<td class="td-gap">
									<p>{{data.name}}</p>
								</td>
								{% if contain=='Yes' %}
								<td class="td-gap"><a href="/consent1/{{data.draadhar}}/{{data.econtact}}"><button class="status success">View</button></a></td>
								{% endif %}
								<td class="td-gap">
									<p>{{data.status}}</p>
								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</main>
	</section>

	<!-- JS files -->
	<script src="../../static/js/dashboard.js"></script>
</body>

</html>