<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<script src="https://kit.fontawesome.com/49dfc2b92c.js" crossorigin="anonymous"></script>
	<!-- My CSS -->
	<link rel="stylesheet" href="../../static/css/dashboard.css">
	<link rel="stylesheet" href="../../static/css/diagnose.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	

	<title>रोगइतिहास - Patient Diagnosis</title>
</head>

<body>


	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand">
			<i class="fa-solid">
				<img src="https://img.icons8.com/color/48/null/india-national-emblem.png" />
			</i>
			<span class="text"><span class="india-orange">रोग</span><span class="india-blue">इति</span><span
					class="india-green">हास</span></span>
		</a>
		<ul class="side-menu top">
			<li>
				<a href="./dashboard.html">
					<i class="fa-solid fa-table-columns"></i>
					<span class="text">Dashboard</span>
				</a>
			</li>
			<li>
				<a href="./documents.html">
					<i class="fa-solid fa-folder-open"></i>
					<span class="text">Medical Records</span>
				</a>
			</li>
			<li>
				<a href="./healthcard.html">
					<i class="fa-solid fa-address-card"></i>
					<span class="text">Health Card</span>
				</a>
			</li>
			<li class="active">
				<a href="./diagnosis.html">
					<i class="fa-solid fa-message"></i>
					<span class="text">Diagonsis</span>
				</a>
			</li>
			<li>
				<a href="./oredermed.html">
					<i class="fa-solid fa-tablets"></i>
					<span class="text">Order Medicine</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a href="./settings.html">
					<i class="fa-solid fa-gear"></i>
					<span class="text">Settings</span>
				</a>
			</li>
			<li>
				<a href="../home.html" class="logout">
					<i class="fa-solid fa-right-from-bracket"></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->



	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class="fa-solid fa-bars"></i>
			<form action="#">
			</form>
			<input type="checkbox" id="switch-mode" hidden>
			<label for="switch-mode" class="switch-mode"></label>
			<a href="#" class="profile">
				<img src="../../static/img/rishi.jpg">
			</a>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Diagnosis</h1>
				</div>
			</div>
			<div class="table-data">
				<div class="order">
					<form action="#">
					<h3>Enter the name of Doctor</h3>
					<div class="text-container">
						<input type="text" list="dr" 
									placeholder="Enter Doctor Name" />
						<datalist id="dr">
							<option value="Objective C">Objective C</option>
							<option value="C++">C++</option>
							<option value="C#">C#</option>
							<option value="Cobol">Cobol</option>
							<option value="Go">Go</option>
							<option value="Java">Java</option>
							<option value="JavaScript">JavaScript</option>
							<option value="Python">Python</option>
							<option value="PHP">PHP</option>
							<option value="Pascal">Pascal</option>
							<option value="Perl">Perl</option>
							<option value="R">R</option>
							<option value="Swift">Swift</option>
						</datalist>
					</div>
					<div class="container">
						<h3>Choose the symptoms you have</h3>
						<input id="myInput" type="text" class="search-bar" placeholder="Search Symptoms" onkeyup="myFunction()">
						<div class="options-container" id="options">
						  <div class="option">Option 1</div>
						  <div class="option">Option 2</div>
						  <div class="option">Option 3</div>
						  <div class="option">Option 4</div>
						  <div class="option">Option 5</div>
						</div>
					</div>
					<a href="./prescription_repository.html" class="custom-btn">Submit</a>
<!--						<input type="submit" class="custom-btn" value="Submit" />-->
					</form>
				</div>
			</div>

		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->


	<script src="../../static/js/main.js"></script>
	<script src="../../static/js/dashboard.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	
</body>

</html>