<!-- Patient Documents -->

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Fontawesome -->
	<script src="https://kit.fontawesome.com/49dfc2b92c.js" crossorigin="anonymous"></script>
	<!-- pdf.js library -->
	<script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>
	<!-- CSS -->
	<link rel="stylesheet" href="../../static/css/dashboard.css">
	<!-- Favicon -->
	<link rel="icon" type="image/x-icon" href="https://img.icons8.com/color/48/null/india-national-emblem.png">

	<title>रोगइतिहास - Patient Medical Records</title>
</head>

<body>

	<!-- Sidebar -->
	<section id="sidebar">
		<a href="/patientdashboard" class="brand">
			<i class="fa-solid">
				<img src="https://img.icons8.com/color/48/null/india-national-emblem.png" />
			</i>
			<span class="text"><span class="india-orange">रोग</span><span class="india-blue">इति</span><span
					class="india-green">हास</span></span>
		</a>
		<ul class="side-menu top">
			<li>
				<a href="/patientdashboard">
					<i class="fa-solid fa-table-columns"></i>
					<span class="text">Dashboard</span>
				</a>
			</li>
			<li class="active">
				<a href="/patientdocuments">
					<i class="fa-solid fa-folder-open"></i>
					<span class="text">Medical Records</span>
				</a>
			</li>
			<li>
				<a href="/patienthealthcard">
					<i class="fa-solid fa-address-card"></i>
					<span class="text">Health Card</span>
				</a>
			</li>
			<li>
				<a href="/patientdiagnosis">
					<i class="fa-solid fa-message"></i>
					<span class="text">Diagonsis</span>
				</a>
			</li>
			<li>
				<a href="/patientoredermed">
					<i class="fa-solid fa-tablets"></i>
					<span class="text">Order Medicine</span>
				</a>
			</li>
			<li>
				<a href="./deliverytrack.html">
					<i class="fa-solid fa-tablets"></i>
					<span class="text">Delivery Tracking</span>
				</a>
			</li>
			<li>
				<a href="./consent.html">
					<i class="fa-solid fa-tablets"></i>
					<span class="text">Consent</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a href="/patientsettings">
					<i class="fa-solid fa-gear"></i>
					<span class="text">Settings</span>
				</a>
			</li>
			<li>
				<a href="/logout" class="logout">
					<i class="fa-solid fa-right-from-bracket"></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>

	<!-- Content -->
	<section id="content">
		<!-- Navbar -->
		<nav>
			<i class="fa-solid fa-bars"></i>
			<form action="#"></form>
			<input type="checkbox" id="switch-mode" hidden>
			<label for="switch-mode" class="switch-mode"></label>
			<a href="#" class="profile">
				<img src="../../static/img/rishi.jpg">
			</a>
		</nav>

		<!-- Main -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Medical Records</h1>
				</div>
			</div>

			<div class="table-data">
				<div class="order">
					<div class="head">
						<h3></h3>
						<strong>Upload Manually</strong>
						<input class="upload" type="file"></input>
						<input type="submit" value="Upload">
						<input id="docname" type="search" class="search-1" placeholder="Search by Doctor Name"
							onkeyup="searchDoc()">
						<button type="submit" class="search-btn-1"><i class="fa-solid fa-magnifying-glass"></i></button>
					</div>
					<table>
						<thead>
							<tr>
								<th>S.No</th>
								<th>Document Name</th>
								<th>Date</th>
								<th>Uploaded By</th>
								<th>View</th>
								<th>Delete</th>
								<th>Report</th>
								<th>Download</th>
							</tr>
						</thead>
						<tbody id="tableBody1">
							{% for data in files %}
							<tr>
								<td>
									{% if contain == 'Yes' %}
									<p>{{loop.index}}</p>
									{% else %}
									<p>No Record Found</p>
									{% endif %}
								</td>
								<td>
									<p>{{data.presname}}</p>
								</td>
								<td>{{data.todaydate}}</td>
								<td class="drname">{{data.doctor}}</td>
								{% if contain == 'Yes' %}
								<td><button class="status success"
										onclick="viewPDF('../../static/reports/{{data.aadhar}}/{{data.aadhar}}.pdf')">View</button></td>
								<div id="pdf-modal" class="modal">
									<div class="modal-content">
										<span class="close" onclick="closePDF()">&times;</span>
										<canvas id="pdf-canvas"></canvas>
									</div>
								</div>
								{% endif %}
								{% if contain == 'Yes' %}
								<td><button class="status danger">Delete</button></td>
								{% endif %}
								{% if contain == 'Yes' %}
								<td><i class="fa-sharp fa-solid fa-circle-exclamation"></i></td>
								{% endif %}
								{% if contain == 'Yes' %}
								<td><i class="fa-sharp fa-solid fa-arrow-down"></i></td>
								{% endif %}
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</main>
	</section>

	<!-- JS files -->
	<script src="../../static/js/click.js"></script>
	<script src="../../static/js/dashboard.js"></script>
</body>

</html>