<!-- Patient Documents -->

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Fontawesome -->
	<script src="https://kit.fontawesome.com/49dfc2b92c.js" crossorigin="anonymous"></script>
	<!-- pdf.js library -->
	<script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>
	<!-- CSS -->
	<link rel="stylesheet" href="../../static/css/dashboard.css">
	<!-- Favicon -->
	<link rel="icon" type="image/x-icon" href="https://img.icons8.com/color/48/null/india-national-emblem.png">

	<title>रोगइतिहास - Patient Medical Records</title>
</head>

<body>

	<!-- Sidebar -->
	<section id="sidebar">
		<a href="/patientdashboard" class="brand">
			<i class="fa-solid">
				<img src="https://img.icons8.com/color/48/null/india-national-emblem.png" />
			</i>
			<span class="text"><span class="india-orange">रोग</span><span class="india-blue">इति</span><span
					class="india-green">हास</span></span>
		</a>
		<ul class="side-menu top">
			<li>
				<a href="/patientdashboard">
					<i class="fa-solid fa-table-columns"></i>
					<span class="text">Dashboard</span>
				</a>
			</li>
			<li class="active">
				<a href="/patientdocuments">
					<i class="fa-solid fa-folder-open"></i>
					<span class="text">Medical Records</span>
				</a>
			</li>
			<li>
				<a href="/patienthealthcard">
					<i class="fa-solid fa-address-card"></i>
					<span class="text">Health Card</span>
				</a>
			</li>
			<li>
				<a href="/patientdiagnosis">
					<i class="fa-solid fa-message"></i>
					<span class="text">Diagonsis</span>
				</a>
			</li>
			<li>
				<a href="/prescriptionstatus">
					<i class="fa-solid fa-clock"></i>
					<span class="text">Prescription Status</span>
				</a>
			</li>
			<li>
				<a href="/patientoredermed">
					<i class="fa-solid fa-tablets"></i>
					<span class="text">Order Medicine</span>
				</a>
			</li>
			<li>
				<a href="/patientdeliverytracking">
					<i class="fa-solid fa-truck"></i>
					<span class="text">Delivery Tracking</span>
				</a>
			</li>
			<li>
				<a href="/patientconsent">
					<i class="fa-solid fa-file"></i>
					<span class="text">Consent</span>
				</a>
			</li>
			<li>
				<a href="/patientsettings">
					<i class="fa-solid fa-gear"></i>
					<span class="text">Settings</span>
				</a>
			</li>
			<li>
				<a href="/logout" class="logout">
					<i class="fa-solid fa-right-from-bracket"></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>

	<!-- Content -->
	<section id="content">
		<!-- Navbar -->
		<nav>
			<i class="fa-solid fa-bars"></i>
			<form action="#"></form>
			<input type="checkbox" id="switch-mode" hidden>
			<label for="switch-mode" class="switch-mode"></label>
			<a href="/patientsettings" class="profile">
				<img src="../../static/img/avatar.jpg">
			</a>
		</nav>

		<!-- Main -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Medical Records</h1>
				</div>
			</div>

			<div class="table-data">
				<div class="order">
					<div class="head">
						<h3></h3>
						<strong>Upload Manually</strong>
						<form action="/uploadpatientprescription/{{aadhar}}/{{name}}" method="POST"
							enctype="multipart/form-data">
							<input class="upload" name="file" type="file" accept="application/pdf"></input>
							<input type="submit" class="upload-button" value="Upload">
							<input id="docname" type="search" class="search-1" placeholder="Search by Document Name"
								onkeyup="searchDoc()">
							<button type="submit" class="search-btn-1"><i class="fa-solid fa-magnifying-glass"
								style="margin: auto -1rem;" onclick="searchDoc()"></i></button>
						</form>
					</div>

					<table>
						<thead>
							<tr>
								<th class="th-gap">S.No</th>
								<th class="th-gap">Document Name</th>
								<th class="th-gap">Date</th>
								<th class="th-gap">Uploaded By</th>
								<th class="th-gap">View</th>
								<th class="th-gap">Delete</th>
							</tr>
						</thead>
						<tbody id="tableBody1">
							{% for data in files %}
							<tr>
								<td class="td-gap">
									{% if contain == 'Yes' %}
									<p>{{loop.index}}</p>
									{% else %}
									<p>No Record Found</p>
									{% endif %}
								</td>
								<td class="td-gap drname">
									<p>{{data.presname}}</p>
								</td>
								<td class="td-gap">{{data.todaydate}}</td>
								<td class="drname th-gap">{{data.doctor}}</td>
								{% if contain == 'Yes' %}
								<td class="td-gap">
									{% if data.uploadedBydr == "No" %}
									<a href="/patientviewprescription/{{data._id}}"><button class="status success">View</button></a>
										
									{% else %}
										<button class="status success"
											onclick="viewPDF('../../{{data.url}}')">View</button>
									{% endif %}
								</td>
								<div id="pdf-modal" class="modal">
									<div class="modal-content">
										<span class="close" onclick="closePDF()">&times;</span>
										<canvas id="pdf-canvas"></canvas>
									</div>
								</div>
								{% endif %}
								{% if contain == 'Yes' %}
								<td class="td-gap"><button class="status danger"> <a href="/patient-document-delete/{{data._id}}"> Delete</a></button></td>
								{% endif %}
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</main>
	</section>

	<!-- JS files -->
	<script src="../../static/js/reportdownload.js"></script>
	<script src="../../static/js/click.js"></script>
	<script src="../../static/js/dashboard.js"></script>
</body>

</html>