<!-- Patient Dashboard -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Fontawesome -->
  <script src="https://kit.fontawesome.com/49dfc2b92c.js" crossorigin="anonymous"></script>
  <!-- CSS -->
  <link rel="stylesheet" href="../../static/css/modal.css">
  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="https://img.icons8.com/color/48/null/india-national-emblem.png">

  <title>रोगइतिहास - Two Factor Authentication</title>
</head>

<body>
  <!-- Modal -->
  <form id="myForm" action="/twofactorauth/{{token}}" method="POST">
    <div id="myModal" class="modal">
      <div class="modal-content">
        <!-- <span class="close">&times;</span> -->
        <h2>Two Factor Authenctication</h2>
        {% if message is defined %}
        <h5 style="color: rgb(226, 26, 26);">{{message}}</h5>
        {% endif %}
        <div class="input-field">
          <h4>{{name}} verify your mobile no. ending with XXXXXX{{mobile[6:]}}</h4>
          <h3><label for="mob_number">Mobile Number</label></h3>
          <input type="tel" placeholder="Enter your mobile no." name="mob_number" required />
          <button id="submitBtn" type="submit">Submit</button>
        </div>
      </div>
    </div>
  </form>



  <!-- JS files -->
  <script src="../../static/js/modal.js"></script>
</body>

</html>