@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

*
{
    font-family: 'Poppins','sans-serif';
}

#order
{
    background: lightgray !important;
}

.update-button
{
    font-family: 'Lato', sans-serif;
    width:8rem;
    padding: 10px;
    border: 1px solid #000;
	background-color: #fff;
	color: #000;
	border-radius: 5px;
}

.update-button:hover
{
    background-color: #000;
	color: #fff;
    border: 1px solid #fff;
}