@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body{
  font-family: "Poppins", sans-serif;
}


header {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  max-height: 100%;
  padding: 0 70px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background: #f8f8f8;
  transition: 0.5s;
  font-family: "Poppins", sans-serif;
}
header.sticky {
  background: #f8f8f8;
  padding: 0px 80px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.logo img {
  width: 50%;
  padding: 10px;
}

header ul {
  position: relative;
  display: flex;
  padding: 10px;
}
header ul li {
  position: relative;
  list-style: none;
  padding-top: 10px;
}
header ul li a {
  position: relative;
  display: inline;
  margin: 0 15px;
  color: rgb(14, 12, 12);
  text-decoration: none;
  transition: 0.5s;
  font-size: 20px;
  font-weight: 400;
}
header ul li a:hover {
  text-decoration: none;
  color:  #3498db;;

  
}
footer{
  font-family: "Poppins", sans-serif;
}
/* ----------------------------------------------Box1------------------------------------------------------------------------- */
.box1 {
  padding: 100px 0;
  height: 560px;
  background: #f8f8f8ff;
}
.box1-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 100%;
  padding: 20px;
}

.box1-content h3 {
  position: relative;
  text-align: center;
  /* margin: 75/ 200px; */
  color: #3498db;
  padding: 15px;
  font-size: 20px;
  
}
.box1-content h2::before {
  content: attr(head);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-text-stroke: rgb(255, 180, 180);
  overflow: hidden;
  animation: animate 6s linear infinite;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 246px;
  flex-direction: column;
}
.btn {
  padding: 20px 80px;
  margin: 10px 0;
  cursor: pointer;
  font-size: 18px;

  background-color: #ffff;
  border: 1px solid #000000;
  transition: 0.5s;
}

.application-btn{
  background: #3498db;
  color: #ffffff;
}



.center a {
  text-decoration: none;
  color: #000000;
}

.btn:hover {
  background-color: #3498db;
  color: #ffff;
  transition: 0.5s;
}

.application-btn:hover{
  background: #ffff;
  color: #000000;
}

iframe
{
  margin: 0 auto;
}

.head3 {
  font-size: 27px;
  padding: 10px 2px;
  margin: 22px 0px;
  text-align: center;
  color: #fff;
  letter-spacing: 3px;
  font-weight: 800;
}
.box2-heading {
  padding: 14px;
}

.box2 {
  height: 560px;
  background-color: #3498db;
}

.box2 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.box2 .container .pic {
  width: 50%;
  padding: 20px;
}
.box2 .container .pic img {
  max-width: 100%;
  height: 250px;
  display: block;
  margin: auto;
  position: relative;
}

.hiw {
  padding: 13px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.hiw .h4 {
  text-align: center;
  font-size: 23px;
  font-weight: bolder;
}
.hiw .pp {
  text-align: center;
  min-width: 15em;
  padding: 20px;
  font-size: 16px;
}

.container2 {
  max-width: 100%;
  margin: auto;
}
.row {
  justify-content: center;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
}

ul {
  list-style: none;
}
.footer {
  background-color: #f8f8f8;
  padding: 10px 0;
}
.footer-col {
  /* display: flex; */
  text-align: center;
  width: 25%;
  padding: 20px 20px;
}
.footer-col h3 {
  font-size: 18px;
  color: #110f0f;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
  text-align: inherit;
}

.youtube-video {
  width: 100%;
  height: 100%;
}

.footer-col h3::before {
  content: "";
  position: absolute;
  
  /* left: 120px; */
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 100px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #030303;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  /* color: #207af0; */
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(39, 37, 37, 0.2);
  margin: 0 10px 10px 20px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #110f0f;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  
  color: #f5eded;
  background-color: #272323;
}
.lastPara p{
  display: block;
  width: 100%;
  font-size: large;
  position: relative;
  margin: auto;
  text-align: center;
}

/*responsive*/
@media (max-width: 991px) {
  header,
  header.sticky {
    padding: 0px 40px;
    z-index: 1000;
  }
  .menu {
    position: fixed;
    top: 75px;
    left: -100%;
    display: block;
    padding: 100px 50px;
    height: 100vh;
    background: #fff;
    opacity: 0.87;
    width: 100%;
    transition: 0.5s;
    text-align: center;
    margin-top: -10px;
    z-index: 999;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
  }

  .menu.active {
    left: 0;
  }
  header ul li {
    margin: 10px;
  }

  header ul li a {
    color: #000000;
    margin: 10px;
    font-size: 28px;
    font-weight: bolder;
  }

  .toggle {
    width: 45px;
    height: 25px;
    background: url(../img/menu.png);
    background-repeat: no-repeat;
    background-size: 26px;
    cursor: pointer;
    margin-right: -19px;
  }

  .toggle.active {
    width: 40px;
    height: 30px;
    background: url(../img/close.png);
    background-repeat: no-repeat;
    background-size: 26px;
    z-index: 1000;
    margin-right: -19px;
    cursor: pointer;
  }
  .box1 {
    padding: 70px 0;
    height: 630px;
  }
  .box2 {
    margin-top: 0px;
  }
  .box1-content {
    padding: 28px;
  }
  .box1-content h2 {
    text-align: center;
    margin-top: 23px;
    color: rgba(253, 22, 22, 0.897);
    font-size: 25px;
  }
  .box1-content h3 {
    position: relative;
    text-align: center;
    /* margin: 34px 0px; */
    color: #3498db;
    font-size: 17px;
    
  }
  .box2-heading {
    padding: 10px;
  }
  .box2-heading .head3 {
    font-size: 28px;
    padding: 7px 2px;
    margin: 10px 0px;
    letter-spacing: 2px;
    font-weight: 700;
  }

  .box2 .container .pic img {
    height: 174px;
  }
  .btn {
    padding: 20px 45px;
    margin: 15px 0px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
  }

  .hiw {
    padding: 18px;
  }

  .hiw .pp {
    text-align: center;
    padding: 13px;
    font-size: 15px;
  }

  .hiw .h4 {
    text-align: center;
    font-size: 17px;
    font-weight: 800;
  }
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 632px) {
  header,
  header.sticky {
    padding: 0px 20px;
  }

  .box1-content h2 {
    text-align: center;
    margin-top: 24px;
    color: rgba(253, 22, 22, 0.897);
    font-size: 19px;
   
  }
  .box1-content h3 {
    /* margin: 30px 0px; */
    font-size: 14px;
  }
  .btn {
    padding: 17px 29px;
    margin: 10px 0px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
  }

  header ul li a {
    font-size: 26px;
    
  }
  .box1 {
    padding: 35px 0;
    height: 541px;

  }
  .box2-heading .head3 {
    font-size: 19px;
    padding: 7px 2px;
    margin: 8px 0px;
    letter-spacing: 2px;
    font-weight: 700;
  }
  .box2 .container .pic img {
    max-width: 100%;
    height: 130px;
  }


  /* .hiw {
        padding: 14px;
        margin: 16px;
      } */

  .footer-col {
    width: 100%;
  }
}
.footer-col ul li a {
  font-size: 17px;
}
@media (max-width: 400px) {
  .box2 .container .pic img {
    max-width: 100%;
    height: 120px;
  }
  .toggle {
    width: 60px;
    height: 25px;
    background: url(../img/menu.png);
    background-repeat: no-repeat;
    background-size: 23px;
    cursor: pointer;
    margin-right: -19px;
  }

  .toggle.active {
    width: 60px;
    height: 30px;
    background: url(../img/close.png);
    background-repeat: no-repeat;
    background-size: 23px;
    z-index: 1000;
    margin-right: -19px;
    cursor: pointer;
  }
  .box1 {
    padding: 41px 0;
    height: 562px;
  }
  .footer-col {
    width: 100%;
  }
}
header ul li a{
  font-size: 23px;
}
@media (max-width: 370px) {
  .menu{
    top: 70px;
  }
  header,
  header.sticky {
    padding: 0px 20px;
  }
  .box2 .container .pic img {
    max-width: 100%;
    height: 110px;
  }
  .hiw .pp {
      text-align: center;
      padding: 12px;
      font-size: 13px;
  }
  .hiw .h4 {
    text-align: center;
    font-size: 18px;
    font-weight: 800;
  }

  .toggle {
    width: 100px;
    height: 25px;
    background: url(../img/menu.png);
    background-repeat: no-repeat;
    background-size: 23px;
    cursor: pointer;
    margin-right: -19px;
  }
  
  .toggle.active {
    width: 90px;
    height: 30px;
    background: url(../img/close.png);
    background-repeat: no-repeat;
    background-size: 23px;
    z-index: 1000;
    margin-right: -19px;
    cursor: pointer;
  }
}
@media (max-width: 290px) {
  .box1 {
    padding: 28px 0;
    height: 562px;
  }
  .btn{
    padding: 14px 21px;
    margin: 8px 0px;
    font-size: 12px;
    
  }
  }