<!-- Pharmacy Online Orders -->

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Fontawesome -->
	<script src="https://kit.fontawesome.com/49dfc2b92c.js" crossorigin="anonymous"></script>
	<!-- CSS -->
	<link rel="stylesheet" href="../../static/css/dashboard.css">
	<link rel="stylesheet" href="../../static/css/modal1.css">

	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- Bootstrap JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


	<!-- Favicon -->
	<link rel="icon" type="image/x-icon" href="https://img.icons8.com/color/48/null/india-national-emblem.png">

	<title>रोगइतिहास - Doctor Prescription Decision</title>
</head>

<body>



	<!-- Sidebar -->
	<section id="sidebar">
		<a href="#" class="brand">
			<i class="fa-solid">
				<img src="https://img.icons8.com/color/48/null/india-national-emblem.png" />
			</i>
			<span class="text"><span class="india-orange">रोग</span><span class="india-blue">इति</span><span
					class="india-green">हास</span></span>
		</a>
		<ul class="side-menu top">
			<li>
				<a href="/doctordashboard">
					<i class="fa-solid fa-table-columns"></i>
					<span class="text">Dashboard</span>
				</a>
			</li>
			<li>
				<a href="/documents">
					<i class="fa-solid fa-folder-open"></i>
					<span class="text">Medical Records</span>
				</a>
			</li>
			<li>
				<a href="/consentlist1">
					<i class="fa-solid fa-notes-medical"></i>
					<span class="text">Consents</span>
				</a>
			</li>
			<li class="active">
				<a href="/prescriptiondecision">
					<i class="fa-solid fa-kit-medical"></i>
					<span class="text">Prescription Requests</span>
				</a>
			</li>
			<li>
				<a href="/drsettings">
					<i class="fa-solid fa-gear"></i>
					<span class="text">Settings</span>
				</a>
			</li>
			<li>
				<a href="/logout" class="logout">
					<i class="fa-solid fa-right-from-bracket"></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>

	<!-- Content -->
	<section id="content">
		<!-- Navbar -->
		<nav>
			<i class="fa-solid fa-bars"></i>
			<form action="#">
				<div class="form-input">
					<input type="search" placeholder="Search Patient">
					<button type="submit" class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
				</div>
			</form>
			<input type="checkbox" id="switch-mode" hidden>
			<label for="switch-mode" class="switch-mode"></label>
			<a href="#" class="profile">
				<img src="../../static/img/rishi.jpg">
			</a>
		</nav>

		<!-- Main -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Prescription Requests</h1>
				</div>
			</div>

			<div class="table-data">
				<div class="order">
					<div class="head">
						<h3></h3>
							<strong>Prescription Cost</strong>
							<input class="upload" type="number" name="file">
							<input type="submit" value="Update" onclick="updatecost()">
						<input id="docname" type="search" class="search-1" placeholder="Search by Doctor Name"
							onkeyup="searchDoc()">
						<button type="submit" class="search-btn-1"><i class="fa-solid fa-magnifying-glass"></i></button>
					</div>
					<table>
						<thead>
							<tr>
								<th class="th-gap">S.No</th>
								<th class="th-gap">Patient Name</th>
								<th class="th-gap">Accept</th>
								<th class="th-gap">Reject</th>
								<th class="th-gap">Prescription Requested</th>
								<th class="th-gap">Cost</th>
								<th class="th-gap">Tests</th>
								<th class="th-gap">Symptoms</th>
							</tr>
						</thead>
						<tbody id="tableBody1">
							<tr>
								<td class="td-gap">1</td>
								<td class="td-gap">Hrithik</td>
								<td class="td-gap"><i class="fa-sharp fa-solid fa-check success"></i></td>
								<td class="td-gap"><i class="fa-sharp fa-solid fa-xmark"></i></td>
								<td class="td-gap"><button class="status success"
									onclick="viewPDF('../../static/reports/{{data.aadhar}}/{{data.aadhar}}.pdf')">View</button></td>
								<td class="td-gap" id="cost">100₹</td>
								<td class="td-gap"><p id="instructions-cell">Recommend tests</p><button class="status success"  data-target="#myModal" onclick="editInstructions()">Edit</button></td>
								<td class="td-gap">Fever,cough</td>
								
							</tr>

						</tbody>
					</table>
				</div>
			</div>
		</main>
	</section>
	<!-- The Modal -->
<div class="modal" id="myModal">
	<div class="modal-dialog">
	  <div class="modal-content">
  
		<!-- Modal Header -->
		<div class="modal-header">
		  <h4 class="modal-title">Instructions</h4>
		  <button type="button" class="close" data-dismiss="modal">&times;</button>
		</div>
  
		<!-- Modal body -->
		<div class="modal-body">
		  <p>Please enter the instructions here:</p>
		  <input type="text" id="instruction-input" value="">
		</div>
  
		<!-- Modal footer -->
		<div class="modal-footer">
		  <button type="button" class="btn btn-success" onclick="saveInstructions()">Save</button>
		  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
		</div>
  
	  </div>
	</div>
  </div>
  
	<!-- JS files -->
	<script src="../../static/js/instructions.js"></script>
	<script src="../../static/js/click.js"></script>
	<script src="../../static/js/dashboard.js"></script>
</body>

</html>