<!-- Doctor Prescription Template -->

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Fontawesome -->
	<script src="https://kit.fontawesome.com/49dfc2b92c.js" crossorigin="anonymous"></script>
	<!-- JQuery -->
	<script src="../../static/js/jquery-latest.min.js"></script>
	<!-- CSS -->
	<link rel="stylesheet" href="../../static/css/dashboard.css">
	<link rel="stylesheet" href="../../static/css/checkout.css">
	<!-- Favicon -->
	<link rel="icon" type="image/x-icon" href="https://img.icons8.com/color/48/null/india-national-emblem.png">

	<title>रोगइतिहास - Doctor Prescription Template</title>
</head>

<body>

	<!-- Sidebar -->
	<section id="sidebar">
		<a href="/doctorsignin" class="brand">
			<i class="fa-solid">
				<img src="https://img.icons8.com/color/48/null/india-national-emblem.png" />
			</i>
			<span class="text"><span class="india-orange">रोग</span><span class="india-blue">इति</span><span
					class="india-green">हास</span></span>
		</a>
		<ul class="side-menu top">
			<li>
				<a href="/doctorsignin">
					<i class="fa-solid fa-table-columns"></i>
					<span class="text">Dashboard</span>
				</a>
			</li>
			<li>
				<a href="/documents">
					<i class="fa-solid fa-folder-open"></i>
					<span class="text">Medical Records</span>
				</a>
			</li>
			<li>
				<a href="/consentlist1">
					<i class="fa-solid fa-folder-open"></i>
					<span class="text">Consents</span>
				</a>
			</li>
			<li>
				<a href="/consent1">
					<i class="fa-solid fa-folder-open"></i>
					<span class="text">Consent Form</span>
				</a>
			</li>
			<li>
				<a href="/prescriptiondecision">
					<i class="fa-solid fa-folder-open"></i>
					<span class="text">Prescription Requests</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li class="active">
				<a href="/prescription_template">
					<i class="fa-solid fa-prescription"></i>
					<span class="text">Prescription Template</span>
				</a>
			</li>
			<li>
				<a href="/drsettings">
					<i class="fa-solid fa-gear"></i>
					<span class="text">Settings</span>
				</a>
			</li>
			<li>
				<a href="/logout" class="logout">
					<i class="fa-solid fa-right-from-bracket"></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>

	<!-- Content -->
	<section id="content">
		<!-- Navbar -->
		<nav>
			<i class="fa-solid fa-bars"></i>
			<form action="doctorpatientdashboard" method="POST">
				<div class="form-input">
					<input type="search" placeholder="Search Patient" name="aadhar" required>
					<button type="submit" class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
				</div>
			</form>
			<input type="checkbox" id="switch-mode" hidden>
			<label for="switch-mode" class="switch-mode"></label>
			<a href="#" class="profile">
				<img src="../../static/img/rishi.jpg">
			</a>
		</nav>

		<!-- Main -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Prescription Template</h1>
					<h3><strong>Note </strong> : Click on specific value to edit values</h3>
				</div>
			</div>
			<form action="/prescription_template" method="POST">
				<div class="table-data">

					<div class="order">
						<div id="container">
							<header class="prescription_head">
								<div class="prescription_block">
									<h1>Prescription</h1>
									<input type="text" name="drname" placeholder="Doctor Name" value="{{name}}"
										class="header inputValue">
									<p><input type="text" name="addlineone" value="{{addlineone}}"
											class="headersmall inputValue"></p>
									<p><input type="text" name="statecountry" placeholder="State, Country"
											value="{{statecountry}}" class="headersmall inputValue"></p>
									<span>Phone: </span><input type="phone" name="phone" placeholder="Phone Number"
										value="{{phone}}" class="headersmall inputValue">
								</div>
								<div>
									<img class="head_img" id="upload-img" src="../../static/img/rishi.jpg" alt="">
									<label for="fileupload" class="blockit">Upload Logo</label>
									<input type="file" id="fileupload">
								</div>
							</header>
							<main>
								<h2>Patient Information</h2>
								<ul>
									<li><strong>Name:</strong> </li>
									<li><strong>Age:</strong> </li>
									<li><strong>Gender:</strong> </li>
									<li><strong>Weight:</strong> </li>
									<li><strong>Disease:</strong> </li>
								</ul>

								<h2>Medication Information</h2>
								<table>
									<tr>
										<th>Medication Name</th>
										<th>Dosage</th>
										<th>Frequency</th>
										<th>Duration</th>
										<th>Instructions</th>
									</tr>
									<tr>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
								</table>

								<p><strong>Prescribed by:</strong> <input type="text" placeholder="Doctor Name"
										value="{{name}}" class="formInput inputValue"></p>
								<span><strong>Date: </strong></span><span id="date" class="formInput"> March 9,
									2023</span>
							</main>
							<footer>

							</footer>

						</div>
						<div class="position">
							<input type="submit" class="footer_buttons" value="Submit" />
						</div>
					</div>
				</div>
				</div>
			</form>
		</main>
	</section>

	<!-- JS files -->
	<script src="../../static/js/dashboard.js"></script>
	<script src="../../static/js/date.js"></script>
</body>

</html>