<!-- Doctor Settings -->

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Fontawesome -->
	<script src="https://kit.fontawesome.com/49dfc2b92c.js" crossorigin="anonymous"></script>
	<!-- CSS -->
	<link rel="stylesheet" href="../../static/css/dashboard.css">
	<link rel="stylesheet" href="../../static/css/settings.css">
	<!-- Favicon -->
	<link rel="icon" type="image/x-icon" href="https://img.icons8.com/color/48/null/india-national-emblem.png">

	<title>रोगइतिहास - Doctor Settings</title>
</head>

<body>

	<!-- Sidebar -->
	<section id="sidebar">
		<a href="/doctorsignin" class="brand">
			<i class="fa-solid">
				<img src="https://img.icons8.com/color/48/null/india-national-emblem.png" />
			</i>
			<span class="text"><span class="india-orange">रोग</span><span class="india-blue">इति</span><span
					class="india-green">हास</span></span>
		</a>
		<ul class="side-menu top">
			<li>
				<a href="/doctordashboard">
					<i class="fa-solid fa-table-columns"></i>
					<span class="text">Dashboard</span>
				</a>
			</li>
			<li>
				<a href="/documents">
					<i class="fa-solid fa-folder-open"></i>
					<span class="text">Medical Records</span>
				</a>
			</li>
			<li>
				<a href="/consentlist1">
					<i class="fa-solid fa-notes-medical"></i>
					<span class="text">Consents</span>
				</a>
			</li>
			<li>
				<a href="/prescriptiondecision">
					<i class="fa-solid fa-kit-medical"></i>
					<span class="text">Prescription Requests</span>
				</a>
			</li>
			<li class="active">
				<a href="/drsettings">
					<i class="fa-solid fa-gear"></i>
					<span class="text">Settings</span>
				</a>
			</li>
			<li>
				<a href="/logout" class="logout">
					<i class="fa-solid fa-right-from-bracket"></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>

	<!-- Content -->
	<section id="content">
		<!-- Navbar -->
		<nav>
			<i class="fa-solid fa-bars"></i>
			<form action="doctorpatientdashboard" method="POST">
				<div class="form-input">
					<input type="search" placeholder="Search Patient" name="aadhar" required>
					<button type="submit" class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
				</div>
			</form>
			<input type="checkbox" id="switch-mode" hidden>
			<label for="switch-mode" class="switch-mode"></label>
			<a href="#" class="profile">
				<img src="../../static/img/rishi.jpg">
			</a>
		</nav>

		<!-- Main -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Settings</h1>
				</div>
			</div>
			<form action="/drsettings" method="POST">
				{% if message is defined %}
				<h5 style="color: rgb(226, 26, 26);">{{message}}</h5>
				{% endif %}
				<div class="table-data">
					<div class="order">
						<h3>Old Password</h3>
						<div class="table-data">
							<input type="password" class="order" id="order" name="old_pass" placeholder="Old Password">
							</input>
						</div>
						<div class="order">
							<h3>New Password</h3>
							<div class="table-data">
								<input type="password" class="order" id="order" name="new_pass" placeholder="New Password">
								</input>
							</div>
						</div>
						<div class="order">
							<div class="table-data">
								<button type="submit" class="update-button">Update</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</main>
	</section>

	<!-- JS files -->
	<script src="../../static/js/dashboard.js"></script>
</body>

</html>