<!-- Pharmacy Online Billing -->

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Fontawesome -->
	<script src="https://kit.fontawesome.com/49dfc2b92c.js" crossorigin="anonymous"></script>
	<!-- JQuery -->
	<script src="../../static/js/jquery-latest.min.js"></script>
	<!-- JS files -->
	<script src="../../static/js/bill.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
	<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script> 
	<!-- CSS -->
	<link rel="stylesheet" href="../../static/css/dashboard.css">
	<link rel="stylesheet" href="../../static/css/bill.css">
	<!-- Favicon -->
	<link rel="icon" type="image/x-icon" href="https://img.icons8.com/color/48/null/india-national-emblem.png">

	<title>रोगइतिहास - Pharmacy Billing</title>
</head>

<body>


	<!-- Sidebar -->
	<section id="sidebar">
		<a href="#" class="brand">
			<i class="fa-solid">
				<img src="https://img.icons8.com/color/48/null/india-national-emblem.png" />
			</i>
			<span class="text"><span class="india-orange">रोग</span><span class="india-blue">इति</span><span
					class="india-green">हास</span></span>
		</a>
		<ul class="side-menu top">
			<li>
				<a href="/pharmacydashboard">
					<i class="fa-solid fa-table-columns"></i>
					<span class="text">Dashboard</span>
				</a>
			</li>
			<li>
				<a href="/medicines">
					<i class="fa-solid fa-folder-open"></i>
					<span class="text">Medicines</span>
				</a>
			</li>
			<li>
				<a href="/deliverytrack">
					<i class="fa-solid fa-truck"></i>
					<span class="text">Delivery Track</span>
				</a>
			</li>
			<li class="active">
				<a href="/pharmacyviewbill">
					<i class="fa-solid fa-truck"></i>
					<span class="text">View Bill</span>
				</a>
			</li>
			<li>
				<a href="/onlineorder">
					<i class="fa-solid fa-message"></i>
					<span class="text">Online Order</span>
				</a>
			</li>
			<li>
				<a href="/offlineBilling">
					<i class="fa-solid fa-address-card"></i>
					<span class="text">Offline Billing</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a href="/logout" class="logout">
					<i class="fa-solid fa-right-from-bracket"></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>
	
	<!-- Content -->
	<section id="content">
		<!-- Navbar -->
		<nav>
			<i class="fa-solid fa-bars"></i>
			<form action="#">
				<div class="form-input">
					<input type="search" placeholder="Search Patient">
					<button type="submit" class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
				</div>
			</form>
			<input type="checkbox" id="switch-mode" hidden>
			<label for="switch-mode" class="switch-mode"></label>
			<a href="#" class="profile">
				<img src="../../static/img/rishi.jpg">
			</a>
		</nav>
		
		<!-- Main -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Online Bill</h1>
				</div>
			</div>
			<button class="centering" onclick="saveDivAsPdf()">Print Bill</button>
			<div class="table-data">
				<div class="order" id="orderbill">
					<header>
						<h1>INVOICE</h1>
						<address>
							<p>Pharmacy Name</p>
							<p>{{address}}</p>
							<p>{{number}}</p>
						</address>
					</header>
					<article>
						<address>
							<p>Pharmacy Name</p>
						</address>
						<table class="meta">
							<tr>
								<th><span>Invoice #</span></th>
								<td><span>101138</span></td>
							</tr>
							<tr>
								<th><span>Date</span></th>
								<td><span>January 1, 2023</span></td>
							</tr>
							<tr>
								<th><span>Amount Paid</span></th>
								<td><span id="prefix">₹</span><span>{{total}}</span></td>
							</tr>
						</table>
						<table class="inventory">
							<thead>
								<tr>
									<th><span>Item</span></th>
									<th><span>Rate</span></th>
									<th><span>Quantity</span></th>
									<th><span>Price</span></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><span>Crocin</span></td>
									<td><span data-prefix>₹</span><span>{{cost}}</span></td>
									<td><span>{{qty}}</span></td>
									<td><span data-prefix>₹</span><span>{{costintoqty}}</span></td>
								</tr>
							</tbody>
						</table>
						<table class="balance">
							<tr>
								<th><span>Total</span></th>
								<td><span data-prefix>₹</span><span>{{total}}</span></td>
							</tr>
						</table>
					</article>
					<aside>
						<h1><span>Additional Notes</span></h1>
						<div>
							<p>{{instructions}}</p>
						</div>
					</aside>
				</div>
			</div>
		</main>
	</section>
	
	<!-- JS files -->
	<script src="../../static/js/reportsave.js"></script>
	<script src="../../static/js/dashboard.js"></script>
</body>

</html>