<!-- Pharmacy Medicine Database -->

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Fontawesome -->
	<script src="https://kit.fontawesome.com/49dfc2b92c.js" crossorigin="anonymous"></script>
	<!-- CSS -->
	<link rel="stylesheet" href="../../static/css/dashboard.css">
	<!-- Favicon -->
	<link rel="icon" type="image/x-icon" href="https://img.icons8.com/color/48/null/india-national-emblem.png">

	<title>रोगइतिहास - Pharmacy Medicines</title>
</head>

<body>


	<!-- Sidebar -->
	<section id="sidebar">
		<a href="#" class="brand">
			<i class="fa-solid">
				<img src="https://img.icons8.com/color/48/null/india-national-emblem.png" />
			</i>
			<span class="text"><span class="india-orange">रोग</span><span class="india-blue">इति</span><span
					class="india-green">हास</span></span>
		</a>
		<ul class="side-menu top">
			<li>
				<a href="#">
					<i class="fa-solid fa-table-columns"></i>
					<span class="text">Dashboard</span>
				</a>
			</li>
			<li class="active">
				<a href="/medicines">
					<i class="fa-solid fa-folder-open"></i>
					<span class="text">Medicines</span>
				</a>
			</li>
			<li>
				<a href="/deliverytrack">
					<i class="fa-solid fa-truck"></i>
					<span class="text">Delivery Track</span>
				</a>
			</li>
			<li>
				<a href="/onlineorder">
					<i class="fa-solid fa-message"></i>
					<span class="text">Online Order</span>
				</a>
			</li>
			<li>
				<a href="/offlineBilling">
					<i class="fa-solid fa-address-card"></i>
					<span class="text">Offline Billing</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a href="/logout" class="logout">
					<i class="fa-solid fa-right-from-bracket"></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>

	<!-- Content -->
	<section id="content">
		<!-- Navbar -->
		<nav>
			<i class="fa-solid fa-bars"></i>
			<form action="#">
			</form>
			<input type="checkbox" id="switch-mode" hidden>
			<label for="switch-mode" class="switch-mode"></label>
			<a href="#" class="profile">
				<img src="../../static/img/rishi.jpg">
			</a>
		</nav>

		<!-- Main -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Medicines</h1>
				</div>
			</div>

			<div class="table-data">
				<div class="order">
					<div class="head">
						<form action="/uploadmedicine/{{regnumber}}" method="POST"
							enctype="multipart/form-data">
							<strong>Upload Medicines(CSV file)</strong>
							<input class="upload" type="file" name="file">
							<input type="submit" value="Upload">
						</form>
						<input type="search" class="search-1" placeholder="Search Medicine Name">
						<button type="submit" class="search-btn-1"><i class="fa-solid fa-magnifying-glass"></i></button>
					</div>
					<table>
						<thead>
							<tr>
								<th class="th-gap">S.No</th>
								<th class="th-gap">Medicine Name</th>
								<th class="th-gap">Company Name</th>
								<th class="th-gap">Expiry Date</th>
								<th class="th-gap">Quantity</th>
								<th class="th-gap">Update</th>
								<th class="th-gap">Delete Medicine</th>
							</tr>
						</thead>
						<tbody>
							{% for data in files %}
							  <tr>
								<td class="td-gap">
								  <p>{{loop.index}}</p>
								</td>
								<td class="td-gap">
								  <p>{{data.Medicinename}}</p>
								</td>
								<td class="td-gap">
								  <p>{{data.Companyname}}</p>
								</td>
								<td class="td-gap">
								  <p>{{data.Expiry}}</p>
								</td>
								<td class="td-gap">
								  <span class="quantity">{{data.Quantity}}</span>
								</td>
								<td class="td-gap">
								  <button class="status success">Update</button>
								</td>
								<td class="td-gap">
								  <button class="status danger">Delete</button>
								</td>
							  </tr>
							{% endfor %}
						  </tbody>
					</table>
				</div>
			</div>
		</main>
	</section>

	<!-- JS files -->
	<script src="../../static/js/dashboard.js"></script>
	<script src="../../static/js/updateQty.js"></script>
</body>

</html>