<!-- Pharmacy Offline Billing -->

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Fontawesome -->
	<script src="https://kit.fontawesome.com/49dfc2b92c.js" crossorigin="anonymous"></script>
	<!-- JQuery -->
	<script src="../../static/js/jquery-latest.min.js"></script>
	<!-- JS files -->
	<script src="../../static/js/bill.js"></script>
	<!-- CSS -->
	<link rel="stylesheet" href="../../static/css/dashboard.css">
	<link rel="stylesheet" href="../../static/css/bill.css">
	<!-- Favicon -->
	<link rel="icon" type="image/x-icon" href="https://img.icons8.com/color/48/null/india-national-emblem.png">

	<title>रोगइतिहास - Pharmacy Billing</title>
</head>

<body>


	<!-- Sidebar -->
	<section id="sidebar">
		<a href="#" class="brand">
			<i class="fa-solid">
				<img src="https://img.icons8.com/color/48/null/india-national-emblem.png" />
			</i>
			<span class="text"><span class="india-orange">रोग</span><span class="india-blue">इति</span><span
					class="india-green">हास</span></span>
		</a>
		<ul class="side-menu top">
			<li>
				<a href="/pharmacydashboard">
					<i class="fa-solid fa-table-columns"></i>
					<span class="text">Dashboard</span>
				</a>
			</li>
			<li>
				<a href="/medicines">
					<i class="fa-solid fa-folder-open"></i>
					<span class="text">Medicines</span>
				</a>
			</li>
			<li>
				<a href="/deliverytrack">
					<i class="fa-solid fa-truck"></i>
					<span class="text">Delivery Track</span>
				</a>
			</li>
			<li>
				<a href="/onlineorder">
					<i class="fa-solid fa-message"></i>
					<span class="text">Online Order</span>
				</a>
			</li>
			<li class="active">
				<a href="/offlineBilling">
					<i class="fa-solid fa-address-card"></i>
					<span class="text">Offline Billing</span>
				</a>
			</li>
			<li>
				<a href="/pharmacysettings">
					<i class="fa-solid fa-address-card"></i>
					<span class="text">Settings</span>
				</a>
			</li>
			<li>
				<a href="/logout" class="logout">
					<i class="fa-solid fa-right-from-bracket"></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>

	<!-- Content -->
	<section id="content">
		<!-- Navbar -->
		<nav>
			<i class="fa-solid fa-bars"></i>
			<form action="#">
				<div class="form-input">
					<input type="search" placeholder="Search Patient">
					<button type="submit" class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
				</div>
			</form>
			<input type="checkbox" id="switch-mode" hidden>
			<label for="switch-mode" class="switch-mode"></label>
			<a href="#" class="profile">
				<img src="../../static/img/rishi.jpg">
			</a>
		</nav>

		<!-- Main -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Offline Bill</h1>
				</div>
			</div>

			<div class="table-data">
				<input class="centering" type="button" onclick="printDiv('order')" value="Print Bill" />
				<div id="order">
					<header>
						<h1>INVOICE</h1>
						<address contenteditable>
							<p>24/7 Medico</p>
							<p>Sant Tukaram Nagar, Pimpri<br> Pune, Maharastra</p>
							<p>+91 8986830423</p>
						</address>
					</header>
					<article>
						<address contenteditable>
							<p>Pharmacy Name</p>
						</address>
						<table class="meta">
							<tr>
								<th><span contenteditable>Invoice #</span></th>
								<td><span contenteditable>101138</span></td>
							</tr>
							<tr>
								<th><span contenteditable>Date</span></th>
								<td><span contenteditable>April 15, 2023</span></td>
							</tr>
							<tr>
								<th><span contenteditable>Amount Due</span></th>
								<td><span id="prefix" contenteditable>₹</span><span>600.00</span></td>
							</tr>
						</table>
						<table class="inventory">
							<thead>
								<tr>
									<th><span contenteditable>Item</span></th>
									<th><span contenteditable>Rate</span></th>
									<th><span contenteditable>Quantity</span></th>
									<th><span contenteditable>Price</span></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><a class="cut">-</a><span contenteditable>Aspirin</span></td>
									<td><span data-prefix>₹</span><span contenteditable>150.00</span></td>
									<td><span contenteditable>4</span></td>
									<td><span data-prefix>₹</span><span>600.00</span></td>
								</tr>
							</tbody>
						</table>
						<a class="add">+</a>
						<table class="balance">
							<tr>
								<th><span contenteditable>Total</span></th>
								<td><span data-prefix>₹</span><span>600.00</span></td>
							</tr>
						</table>
					</article>
					<aside>
						<h1><span contenteditable>Additional Notes</span></h1>
						<div contenteditable>
							<p>Consume medicine after eating something.</p>
						</div>
					</aside>
				</div>
			</div>
		</main>
	</section>

	<!-- JS files -->
	<script src="../../static/js/dashboard.js"></script>
	<script src="../../static/js/print.js"></script>
</body>

</html>