<!-- Patient-Doctor Dashboard -->

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Fontawesome -->
	<script src="https://kit.fontawesome.com/49dfc2b92c.js" crossorigin="anonymous"></script>
	<!-- CSS -->
	<link rel="stylesheet" href="../../static/css/dashboard.css">
	<!-- Favicon -->
	<link rel="icon" type="image/x-icon" href="https://img.icons8.com/color/48/null/india-national-emblem.png">

	<title>रोगइतिहास Doctor - Patient Dashboard</title>
</head>

<body>


	<!-- Sidevar -->
	<section id="sidebar">
		<a href="/patienthome/{{aadhar}}" class="brand">
			<i class="fa-solid">
				<img src="https://img.icons8.com/color/48/null/india-national-emblem.png" />
			</i>
			<span class="text"><span class="india-orange">रोग</span><span class="india-blue">इति</span><span
					class="india-green">हास</span></span>
		</a>
		<ul class="side-menu top">
			<li>
				<a href="/doctorpatientdashboard">
					<i class="fa-solid fa-table-columns"></i>
					<span class="text">Dr. {{drname}} Dashboard</span>
				</a>
			</li>
			<li class="active">
				<a href="/patienthome/{{aadhar}}">
					<i class="fa-solid fa-table-columns"></i>
					<span class="text">Dashboard</span>
				</a>
			</li>
			<li>
				<a href="/documents/{{drname}}/{{aadhar}}">
					<i class="fa-solid fa-clipboard"></i>
					<span class="text">Previous Prescriptions</span>
				</a>
			</li>

			<li>
				<a href="/reports/{{drname}}/{{aadhar}}">
					<i class="fa-solid fa-book-medical"></i>
					<span class="text">Previous Reports</span>
				</a>
			</li>
			<li>
				<a href="/consentlist/{{drname}}/{{aadhar}}">
					<i class="fa-solid fa-folder-open"></i>
					<span class="text">Consent List</span>
				</a>
			</li>
			<li>
				<a href="/consent/{{drname}}/{{aadhar}}">
					<i class="fa-solid fa-file-medical"></i>
					<span class="text">Consent</span>
				</a>
			</li>
			<li>
				<a href="/writeprescription/{{name}}/{{aadhar}}">
					<i class="fa-solid fa-tablets"></i>
					<span class="text">Write Prescription</span>
				</a>
			</li>
		</ul>
	</section>

	<!-- Content -->
	<section id="content">
		<!-- Navbar -->
		<nav>
			<i class="fa-solid fa-bars"></i>
			<form action="#"></form>
			<input type="checkbox" id="switch-mode" hidden>
			<label for="switch-mode" class="switch-mode"></label>
			<a href="#" class="profile">
				<img src="../../static/img/avatar.jpg">
			</a>
		</nav>

		<!-- Main -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Patient Dashboard</h1>
				</div>
			</div>

			<ul class="box-info">
				<li class="block-list">
					<span class="text-flex">
						<h4>Name :</h4>
						<span class="margining">{{name}}</span>
					</span>
					<span class="text-flex">
						<h4>Address :</h4>
						<span class="margining">{{address}}</span>
					</span>
					<span class="text-flex">
						<h4>Gender :</h4>
						<span class="margining">{{gender}}</span>
					</span>
					<span class="text-flex">
						<h4>Age :</h4>
						<span class="margining">{{age}}</span>
					</span>
					<span class="text-flex">
						<h4>Mobile :</h4>
						<span class="margining">{{mobile}}</span>
					</span>
				</li>
			</ul>


		</main>
	</section>

	<!-- JS files -->
	<script src="../../static/js/dashboard.js"></script>
	<script src="../../static/js/searchdoc.js"></script>
</body>

</html>