<!-- Patient-Doctor Documents -->

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Fontawesome -->
	<script src="https://kit.fontawesome.com/49dfc2b92c.js" crossorigin="anonymous"></script>
	<!-- pdf.js library imported -->
	<script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>
	<!-- CSS -->
	<link rel="stylesheet" href="../../static/css/dashboard.css">
	<!-- Favicon -->
	<link rel="icon" type="image/x-icon" href="https://img.icons8.com/color/48/null/india-national-emblem.png">

	<title>रोगइतिहास - Patient Medical Records</title>
</head>

<body>


	<!-- Sidebar -->
	<section id="sidebar">
		<a href="/patienthome/{{aadhar}}" class="brand">
			<i class="fa-solid">
				<img src="https://img.icons8.com/color/48/null/india-national-emblem.png" />
			</i>
			<span class="text"><span class="india-orange">रोग</span><span class="india-blue">इति</span><span
					class="india-green">हास</span></span>
		</a>
		<ul class="side-menu top">
			<li>
				<a href="/doctorpatientdashboard">
					<i class="fa-solid fa-table-columns"></i>
					<span class="text">Dr. {{drname}} Dashboard</span>
				</a>
			</li>
			<li>
				<a href="/patienthome/{{aadhar}}">
					<i class="fa-solid fa-table-columns"></i>
					<span class="text">Dashboard</span>
				</a>
			</li>
			<li class="active">
				<a href="/documents/{{drname}}/{{aadhar}}">
					<i class="fa-solid fa-clipboard"></i>
					<span class="text">Previous Prescriptions</span>
				</a>
			</li>

			<li>
				<a href="/reports/{{drname}}/{{aadhar}}">
					<i class="fa-solid fa-book-medical"></i>
					<span class="text">Previous Reports</span>
				</a>
			</li>
			<li>
				<a href="/consentlist/{{drname}}/{{aadhar}}">
					<i class="fa-solid fa-folder-open"></i>
					<span class="text">Consent List</span>
				</a>
			</li>
			<li>
				<a href="/consent/{{drname}}/{{aadhar}}">
					<i class="fa-solid fa-file-medical"></i>
					<span class="text">Consent</span>
				</a>
			</li>
			<li>
				<a href="/writeprescription/{{name}}/{{aadhar}}">
					<i class="fa-solid fa-tablets"></i>
					<span class="text">Write Prescription</span>
				</a>
			</li>
		</ul>
	</section>

	<!-- Content -->
	<section id="content">
		<!-- Navbar -->
		<nav>
			<i class="fa-solid fa-bars"></i>
			<form action="#"></form>
			<input type="checkbox" id="switch-mode" hidden>
			<label for="switch-mode" class="switch-mode"></label>
			<a href="#" class="profile">
				<img src="../../static/img/avatar.jpg">
			</a>
		</nav>

		<!-- Main -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Previous Prescriptions</h1>
				</div>
			</div>

			<div class="table-data">
				<div class="order">
					<div class="head">
						<form action="/uploadnewprescription/{{name}}/{{aadhar}}" method="POST"
							enctype="multipart/form-data">
							<strong>Upload Prescription : </strong>
							<input class="upload" type="file" name="file" accept="application/pdf">
							<input type="submit" class="upload-button" value="Upload">
						</form>

						<input id="docname" type="search" class="search-1" placeholder="Search by Doctor Name" onkeyup="searchDoc()">
						<button type="submit" class="search-btn-1" onclick="searchDoc()"><i class="fa-solid fa-magnifying-glass" style="margin: auto -1rem;"></i></button>
					</div>
					<table>
						<thead>
							<tr>
								<th class="th-gap">S.No</th>
								<th class="th-gap">Document Name</th>
								<th class="th-gap">Date</th>
								<th class="th-gap">Uploaded By</th>
								<th class="th-gap">View</th>
								<th class="th-gap">Delete</th>
							</tr>
						</thead>
						<tbody id="tableBody1">
							{% for data in files %}
							<tr>
								<td class="td-gap">
									<p>{{loop.index}}</p>
								</td>
								<td class="td-gap">
									<p>{{data.presname}}</p>
								</td>
								<td class="td-gap">{{data.todaydate}}</td>
								<td class="td-gap drname" class="drname">{{data.doctor}}</td>
								{% if data.uploadedBydr == "Yes" %}
								<td class="td-gap"><button class="status success" onclick="viewPDF('../../{{data.url}}')">View</button></td>
								<div id="pdf-modal" class="modal">
									<div class="modal-content">
										<span class="close" onclick="closePDF()">&times;</span>
										<button id="downloadButton" onclick="downloadPDF('../../{{data.url}}')">Download PDF</button>
										<canvas id="pdf-canvas"></canvas>
									</div>
								</div>
								{% else %}
									<td class="td-gap"><a href="/viewprescription/{{data._id}}"><button class="status success">View</button></td>
								{% endif %}
								<td class="td-gap"><button class="status danger"><a style="text-decoration: none; color: aliceblue;" href="/document-delete/{{data._id}}">Delete</a></button></td>

							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</main>
	</section>

	<!-- JS files -->
	<script src="../../static/js/click.js"></script>
	<script src="../../static/js/dashboard.js"></script>
</body>

</html>